#entry {
}

#entry .empty {
    width: 100%;
    padding-top: 10px;
    text-align: center;
}

#entry img {
    image-orientation: from-image;
}

#entry .container {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
}

#entry .container header {
    flex: 0;
    padding: 5px 10px;
}

#entry header .logbook  {
    font-size: 120%;
}

#entry header .title span {
    font-size: 120%;
    font-weight: bold;    
}

#entry header .title i {
    padding-right: 3px;
}

#entry header .commands {
    float: right;
}

#entry header button.hide-show {
    float: right;
}

#entry .body {
    flex: 1;
    border-bottom: 1px;
    max-height: 100%;
    overflow: auto;
}

#entry article header {
    /* this is the magic that keeps the entry headers floating along */
    position: sticky;
    top: 0;
    width: 100%;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #d3e3e4;
    padding: 5px 10px;
    background: rgba(231,240,241, 1);
    display: flex;
    flex-direction: row;
}

#entry article header div.collapser {
    width: 1em;
}

#entry article header input[type='checkbox'] {
    display: none;
}

#entry article header input[type='checkbox'] + label:before {
    content: "▼";
}

#entry article header input[type='checkbox']:checked + label:before {
    content: "▶";
}


#entry .info {
    flex: 1;
}

#entry .info .title {
    font-weight: bold;
}


#entry .commands {
    float: right;
}

#entry .followups {
    border-left: 5px solid #ddd;
    margin-left: 1em;
}

#entry .info .authors span.author:not(:last-child):after {
    content: ", ";
}

#entry .timestamp {
    padding-right: 5px;
    white-space: nowrap;
}

#entry .info .attributes .attribute {
    display: inline-block;
    white-space: nowrap;
    font-size: 90%;
    padding-right: 4px;
    margin: 0 2px;
    line-height: 2em;
}


#entry .info .attributes .attribute .name {
    color: #333;
    padding: 3px 6px;
    border-radius: 5px 0 0 5px;
    background: white;
}

#entry .info .attributes .attribute .value {
    background: #5785a2;
    color: white;
    padding: 3px 6px;
    border-radius: 0 5px 5px 0;
}

#entry .info .attributes .attribute .value span.option:not(:last-child):after {
    content: ", ";
}

#entry article {
    border-bottom: 1px solid #eee;
}   

#entry article .content {
    background: white;
    padding: 5px 20px;
    overflow: auto;
}

#entry article.collapsed .content {
    max-height: 0;
    overflow: hidden;
    background: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255) 80%, rgb(210, 210, 210));
    padding: 0;
}

#entry article .content.plain {
    white-space: pre-wrap;
}
 
#entry article .content img:not([width]) {
    max-width: 100%;
}

#entry article .followups {
    border-left: 10px solid #ddd;
}

#entry article .followups .followup-n {
    background: grey;
    color: white;
    padding: 0 5px;
    border-radius: 10px;
}

#entry article .attachments {
    border-top: 1px dashed #ccc;
    padding: 1em;
}

#entry article.collapsed .attachments {
    border-top: none;
    padding: 3px 10px;
}

.attachment{
    display: inline-block;
    vertical-align: top;
    font-size: 0.8em;
    width: 33%;
    box-sizing: border-box;
    margin: 0.3em 0em;
}
#entry article .attachments .attachment img {
    border: 1px solid grey;
    vertical-align: top;    
}

#entry article .attachments .attachment a {
    padding: 0;    
    margin: 0;
}

#entry article .attachments table tr td {
    border: none;
    padding: 2px 10px;
}

#entry table[width="98%"] {
    border: 1px solid red;
}

#entry .attachment .preview {
    max-height: 100px;
    overflow: hidden;
    width: 30%;
}

#entry table {
    border-collapse: collapse;
}

#entry td {
    padding: 3px;
    border: 1px solid #ccc;
}

#entry .current header {
    background: rgba(255,255,241, 1);
}

@media print {
    #entry .body {
        overflow: unset;
    }

    .commands {
        display: none;
    }

    #entry header a {
        text-decoration: none;
        color: black;
    }

    #entry .container {
        display: unset;
    }
}
